<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stayhome.vendor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.stayhome.vendor.Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_vendor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_vendor_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
      >
        <activity android:name=".Activities.SupportActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Activities.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ResetActivityTheme"/>
        <activity
            android:name="com.stayhome.vendor.Activities.VerificationWaitingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.stayhome.vendor.Activities.UploadImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>
        <activity
            android:name="com.stayhome.vendor.Activities.FillDetailsActivity"
            android:label="Add Store Details"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.stayhome.vendor.Activities.ViewOrderActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.stayhome.vendor.Activities.HomeActivityStore"
            android:label="@string/title_activity_home_store"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name="com.stayhome.vendor.Activities.MainActivity"
            android:theme="@style/AppTheme.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stayhome.vendor.Activities.ViewImageActivity"
            android:theme="@style/AppTheme.ViewImageActivity"
            />
        <activity
            android:name="com.stayhome.vendor.Activities.OrderListViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.OrderListViewActivity"
            />
        <activity android:name="com.stayhome.vendor.Activities.OtpDialogActivity"
            android:theme="@style/AppTheme.OtpDialog"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.stayhome.vendor.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <service
            android:name="com.stayhome.vendor.Utils.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_home" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/jalapino_red" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>